html,
body {
    min-height: 100%;
    background: #F2F2F2;
    font-family: 'Noto Serif', 'Noto Serif TC', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

a {
    color: #9E9E9E;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.25, 1.2, 0.25, 1) 0.1s;
}

a:hover {
    color: #000000;
}

.active {
    color: #000000;
}

.container {
    padding: 48px;
    font-size: 16px;
    position: relative;
}

.fixed {
    position: fixed;
    z-index: 99;
    width: calc(100vw - 96px);
    height: calc(100vh - 96px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;
}

.rows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    pointer-events: all;
}

.rows-end {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    pointer-events: all;
}

.sp {
    background: url('../images/sp.svg') no-repeat left / 25px 190px;
    width: 25px;
    height: 190px;
}

.yr {
    background: url('../images/yr.svg') no-repeat left / 19px 125px;
    width: 19px;
    height: 125px;
}

.desc {
    color: #9E9E9E;
    text-align: right;
    line-height: 28px;
}

.lzh-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s cubic-bezier(0.25, 1.2, 0.25, 1) 0.1s;
}



.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s cubic-bezier(0.25, 1.2, 0.25, 1) 0.1s;
}

.section a {
    color: #000000;
}

.lzh {
    background-image: url('../images/lzh.png');
    background-size: 480px 640px;
    background-position: left center;
    background-repeat: no-repeat;
    width: 64vw;
    /*960px*/
    height: calc(100vh - 96px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    pointer-events: all;
}

.product-bg {
    background-image: url('../images/i5em.png');
    background-size: 960px 640px;
    background-position: left center;
    background-repeat: no-repeat;
    width: 64vw;
    /*960px*/
    height: calc(100vh - 96px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    pointer-events: all;
}

.product {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: 144px;
}

.product-hr {
    border-top: 1px solid #000000;
    width: 120px;
    margin-left: 64px;
    margin-right: 12px;
}

.product-name {
    font-size: 120px;
    color: #000000;
    transition: all 0.3s cubic-bezier(0.25, 1.2, 0.25, 1) 0.1s;
}

.product-bg:hover>.product-name {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px #000000;
}

.hero:hover {
    background-color: rgba(172, 172, 148, 0.2);
}

.lzh-name {
    background-image: url('../images/lzh-stroke.svg');
    background-size: 219px 103px;
    background-repeat: no-repeat;
    width: 219px;
    height: 140px;
}

.project-intro {
    margin-top: 120px;
    width: calc(50vw - 48px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: right;
}

.project-name {
    font-size: 180px;
    color: #000000;
}

.project-set {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.project-hr {
    border-top: 1px solid #000000;
    width: 120px;
    margin-right: 12px;
}

.project-num {
    font-size: 18px;
}

.project-res {
    margin-top: 60px;
    line-height: 24px;
}

.project-desc {
    margin: 60px 0 120px 0;
    line-height: 24px;
    white-space: normal;
}

.gallery {
    display: flex;
    flex-direction: column;
    width: 72vw;
    align-items: center;
    margin: 0 auto;
}

.gallery .artwork {
    margin-bottom: 120px;
    object-fit: cover;
    width: 72vw;
}

.gallery .video {
    margin-bottom: 120px;
    object-fit: cover;
}

.gallery-slider {
    width: 72vw;
    margin: 0 auto;
}

.video-row {
    display: flex;
    width: 72vw;
}

@media screen and (max-width:480px) {
    .mobile-hide {
        display: none
    }

    .container {
        padding: 12px;
        font-size: 16px;
        position: relative;
    }

    .fixed {
        position: fixed;
        z-index: 99;
        width: calc(100vw - 24px);
        height: calc(100vh - 24px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        pointer-events: none;
    }

    .desc {
        color: #9E9E9E;
        text-align: right;
    }

    .product-name {
        font-size: 60px;
        color: #000000;
        transition: all 0.3s cubic-bezier(0.25, 1.2, 0.25, 1) 0.1s;
    }

    .product {
        display: flex;
        align-items: center;
        justify-content: right;
        margin-left: 0px;
    }

    .project-intro {
        margin-top: 120px;
        width: calc(50vw - 12px);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        float: right;
    }

    .gallery .artwork {
        margin-bottom: 60px;
        object-fit: cover;
        width: 72vw;
    }

    .gallery .video {
        margin-bottom: 60px;
        object-fit: cover;
    }
}